
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
* {
    font-family: 'Red Hat Mono', monospace;
    font-weight: bold;
}

.loader{
    width:100%;
    display: flex;
    justify-content: center;
  
  }
  .inp {
    border:none;
    border-bottom: 1px solid orange;
    padding: 5px 10px;
    outline: none;
 }

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }
 .myInput{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
 }