
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
* {
    font-family: 'Red Hat Mono', monospace;
    font-weight: bold;
}

.loader{
    width:100%;
    display: flex;
    justify-content: center;
  
  }