@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
* {
    font-family: 'Red Hat Mono', monospace;
    font-weight: bold;
}
table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
	}
	@media screen and (max-width: 600px) {
	td{
		font-size: 3px;
	}
		
	   
	  }

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: orange; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 10px;
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}


 /* Footer */
 a{
    text-decoration: none;
}
 .footer {
   padding: 70px 0
 
 }
 .footer ul {
   margin-top: 15px
 }
 .footer ul li {
   display: inline-block;
   margin: 0 0 0 10px
 }

 .footer .foot-content-left {
   float: left
 }
 .footer .foot-content {
   float: right
 }



.footer {
 font-size: 14px;
 padding: 40px 0;
 background: #fff;
 color: #888
}

.footer .container {
 position: relative
}

.footer ul {
 margin: 0;
 padding: 0;
 list-style-type: none;
 margin-top: 35px
}

.footer ul li {
 margin-bottom: 10px
}

.footer ul a {
 display: inline-block;
 position: relative;
 border: none;
 padding-bottom: 4px;
 text-transform: uppercase;
 color: #000;

 font-weight: 700;

 font-weight: 400;
 color: #888;
 text-transform: none
}

.footer ul a:active,
.footer ul a:focus,
.footer ul a:hover {
 outline: 0
}

.footer ul a:before {
 content: '';
 position: absolute;
 left: 0;
 bottom: 0;
 background: #000;
 width: 0;
 height: 2px;
 -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
 transition: all .4s cubic-bezier(.35, 1, .33, 1)
}

.footer ul a:hover {
 color: #000
}

.footer ul a:hover:before {
 width: 100%
}

.footer ul a:before {
 background:orange;
}

.footer .col-logo .path-letter {
 -webkit-transition: all .3s cubic-bezier(.35, 1, .33, 1);
 transition: all .3s cubic-bezier(.35, 1, .33, 1);
 opacity: 0;
 -webkit-transform: translate3d(-10px, 0, 0);
 transform: translate3d(-10px, 0, 0)
}
.footer .col-logo:hover .path-letter {
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
 opacity: 1
}
 
  /* end footer */

   .loader{
    width:100%;
    display: flex;
    justify-content: center;
  
  }