

<div class="container" style="margin-top: 20px;">
   <p>EPL Upcoming Fixtures <img src="../assets/images/premier.png" alt="" style="width: 30px;height:30px;border-radius: 100%;"></p>  

<body>

<div class="match_today container" id="match_today" *ngFor="let match of myMatches.data.slice(0,6)">
  <div class="gw" style="text-align: center;">
   <p> Gameweek {{match.round.name}}  </p>
  </div>
<div class="widget-content">
<!--match mdw-->
<div class="mnajiri" >

      <div class="mnajiriin" >
        <div class="mpart1" >

            <!-- away team -->
        
          <div class="right_match">
             <span class="right_tech">
         <img [src]="match.away_team.logo" style="height: 30px;width: 30px;">
         <div class="fname" style="font-size: 10px;"> {{match.away_team.name}} </div>

              </span>
          </div>
  
              <!-- end away team -->
                <strong class="najiri1">Vs</strong>
 
                <!--Home team  -->
                <div class="left_match">
                  <span class="left_tech">
                   <img [src]="match.home_team.logo" style="height: 30px;width: 30px;">
                      <div class="fname" style="font-size: 10px;"> {{match.home_team.name}} </div>
                  </span>
               </div>
          
               <!-- end home team -->

           </div>

           <!-- Match details -->
              <div class="details_match">
                 <span class="first_match" style="font-size: 10px;">
                  <b> {{match.match_start}} </b>
                  </span>
               <span class="thany" style="font-size: 10px;text-transform: capitalize;"><b> {{match.status}} </b>
                  </span>
                  <span class="liga_mdw" style="font-size: 10px;"><b>Round {{match.stage.stage_id}} </b>
                  </span>
             </div>

             <!-- End match details -->
     </div>
  </div>
</div>
</div> 
</body>
<div class="myBtn">
   <button style="">
      <span>View all</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 74 74" height="34" width="34">
        <circle stroke-width="3" stroke="black" r="35.5" cy="37" cx="37"></circle>
        <path fill="black" d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z"></path>
      </svg>
    </button>
</div>
  
<footer class="footer" style="margin-bottom:0px">

   <div class="container">
     <hr>
     <article class="foot-content-left">
       <ul>&copy;2021 | <a href="//patricklusaya.netlify.app">Patrick</a></ul>
     </article>

     <article class="foot-content">
       <ul>
        
         <li class="social"><a href="https://www.instagram.com/patisocialnet">Instagram</a></li>
         <li class="social"><a href="https://twitter.com/patisocialnet">Twitter</a></li>
         <li class="social"><a href="https://www.linkedin.com/company/">LinkedIn</a></li>
       </ul>
     </article>

   </div>

 </footer>  
</div>